@import 'views/calculator';

$background: #fff;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: $background;
}

  @media only screen and (min-width : 0px) and (max-width : 640px) {
    .calculator {
      width: 200px;
      height: 300px;
      margin-top: -150px;
      margin-left: -100px;
    }
  }

  @media only screen and (min-width : 641px) and (max-width : 1024px) {
    .calculator {
      width: 400px;
      height: 400px;
      margin-top: -200px;
      margin-left: -200px;
    }
  }

  @media only screen and (min-width : 1025px) {
    .calculator {
      width: 500px;
      height: 500px;
      margin-top: -250px;
      margin-left: -250px;
    }
  }